<%= turbo_frame_tag 'notification_count' do %>
  <% if current_user.received_notifications.unread.present? %>
    <span class="absolute top-2 right-2 rounded-full badge badge-error badge-sm">
      <%= current_user.received_notifications.unread.size %>
    </span>
  <% end %>
<% end %>