<div class="mt-52 w-5/6 mx-auto max-w-4xl">
  <div>
    <div>
      <h1>【サ飯の時間】は</h1>
    </div>
    <div class="w-full text-center">
      <%= link_to "現在地から探す", saunas_path, data: { turbo: false }, class: "btn btn-neutral w-full" %>
    </div>
  </div>
  <div>
    <div class="w-full text-center">
      <%= link_to "投稿一覧から探す", posts_path, class: "btn btn-neutral w-full" %>
    </div>
  </div>
</div>