<div class="mt-6 mb-24 mx-auto">
  <div>
    <div>
      <%= image_tag 'sameshi_top.svg', class: "w-fit" %>
    </div>
    <div class="w-full text-center">
      <%= link_to "現在地から探す", saunas_path, data: { turbo: false }, class: "btn btn-neutral w-full" %>
    </div>
  </div>
  <div>
    <div class="w-full text-center">
      <%= link_to "投稿一覧から探す", posts_path, class: "btn btn-neutral w-full" %>
    </div>
  </div>
</div>