<div class="hero min-h-screen bg-base-100">
  <div class="hero-content text-center w-5/6 mx-auto max-w-screen-xl">
    <div>
      <h1 class="text-4xl font-bold">サウナを愛す者<br>サ飯も愛すべし</h1>
      <%= render 'shared/map' %>
      <div>
        <%= link_to "サ飯を探す", "#", class: "btn btn-primary w-80 mt-10" %>
      </div>
      <div>
        <%= link_to "現在地から探す", "#", class: "btn btn-primary w-80 mt-10" %>
      </div>
    </div>
  </div>
</div>