<div class="my-28 w-5/6 mx-auto max-w-screen-xl">

  <div class="pb-4 mb-8 border-dotted border-b-2 border-info">
    <h1 class="font-bold">
      プライバシーポリシー
    </h1>
  </div>

  <div>
    <h1 class="font-bold">
      お客様から取得する情報
    </h1>
    <div class="m-4">
      <p>
        管理者は、お客様から以下の情報を取得します。<br>
        ・氏名(ニックネームやペンネームも含む)<br>
        ・年齢または生年月日<br>
        ・メールアドレス<br>
        ・写真や動画<br>
        ・外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報<br>
        ・お客様の位置情報<br>
      </p>
    </div>
  </div>

  <div>
    <h1 class="font-bold">
      お客様の情報を利用する目的
    </h1>
    <div class="m-4">
      <p>
        管理者は、お客様から取得した情報を、以下の目的のために利用します。<br>
        ・管理者サービスに関する登録の受付、お客様の本人確認、認証のため<br>
        ・お客様の管理者サービスの利用履歴を管理するため<br>
        ・管理者サービスにおけるお客様の行動履歴を分析し、管理者サービスの維持改善に役立てるため<br>
        ・管理者のサービスに関するご案内をするため<br>
        ・お客様からのお問い合わせに対応するため<br>
        ・管理者の規約や法令に違反する行為に対応するため<br>
        ・管理者サービスの変更、提供中止、終了、契約解除をご連絡するため<br>
        ・管理者規約の変更等を通知するため<br>
        ・以上の他、管理者サービスの提供、維持、保護及び改善のため
      </p>
    </div>
  </div>

  <div>
    <h1 class="font-bold">
      安全管理のために講じた措置
    </h1>
    <div class="m-4">
      <p>
        管理者が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
      </p>
    </div>
  </div>

  <div>
    <h1 class="font-bold">
      第三者提供
    </h1>
    <div class="m-4">
      <p>
        管理者は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。<br>
        但し、次の場合は除きます。<br>
        ・個人データの取扱いを外部に委託する場合<br>
        ・管理者や管理者サービスが買収された場合<br>
        ・事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）<br>
        ・その他、法律によって合法的に第三者提供が許されている場合
      </p>
    </div>
  </div>

  <div>
    <h1 class="font-bold">
      アクセス解析ツール（今後追加予定）
    </h1>
    <div class="m-4">
      <p>
        管理者は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。<br>
        Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。<br>
        トラフィックデータは匿名で収集されており、個人を特定するものではありません。<br>
        Cookieを無効にすれば、これらの情報の収集を拒否することができます。<br>
        詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。<br>
        <%= link_to 'https://marketingplatform.google.com/about/analytics/terms/jp/', 'https://marketingplatform.google.com/about/analytics/terms/jp/', class: "link link-info" %>
      </p>
    </div>
  </div>

  <div>
    <h1 class="font-bold">
      プライバシーポリシーの変更
    </h1>
    <div class="m-4">
      <p>
        管理者は、必要に応じて、このプライバシーポリシーの内容を変更します。<br>
        この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
      </p>
    </div>
  </div>


  <div>
    <h1 class="font-bold">
      お問い合わせ
    </h1>
    <div class="m-4">
      <p>
        お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下の「Xアカウント」にご連絡ください。<br>
        <div>
          <%= link_to '開発者', 'https://x.com/sttk_91', class: "link link-info", target: :_blank, rel: "noopener noreferrer" %>
        </div>
        この場合、必ず、運転免許証のご提示等管理者が指定する方法により、ご本人からのご請求であることの確認をさせていただきます。<br>
        なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。
      </p>
    </div>
  </div>
  <div class="flex justify-end">
    <p>2024年04月15日 制定</p>
  </div>
</div>