<% if object.errors.any? %>
  <div class="alert alert-danger  my-12 w-5/6 mx-auto max-w-screen-xl">
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>