<% flash.each do |message_type, message| %>
  <div class="<%= flash_background_color(message_type) %> fixed top-20 mx-auto p-4 text-white w-full z-30 text-center">
    <%= message %>
  </div>
<% end %>