<header class="navbar shadow-xl bg-neutral fixed top-0 z-50 w-full">
  <div class="navbar-start"></div>
    <div class="navbar-center">
      <%= link_to image_tag("sameshi_header.svg", width: '200' ), "/" %>
    </div>
    <div class="navbar-end">
      <!-- Open the modal using ID.showModal() method -->
      <button class="btn btn-ghost" onclick="my_modal_2.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" /></svg>    
      </button>
      <dialog id="my_modal_2" class="modal">
        <div class="modal-box">
          <ul class="menu rounded-box">
            <li><%= link_to "利用規約", terms_of_use_path, data: { turbo: false }, class: "hover:text-info" %></li>
            <li><%= link_to "プライバシーポリシー", privacy_policy_path, data: { turbo: false }, class: "hover:text-info"  %></li>
            <li><%= link_to "お問合せ", "https://x.com/sttk_91", class: "hover-text-info", target: :_blank, rel: "noopener noreferrer" %></li>
            <li><h3 class="text-center">©️ 2024 - サ飯の時間</h3></li>
          </ul>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </div>
  </div>
</header>
