<!DOCTYPE html>
<html>
<head>
    <title>Places Search</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -33.8688, lng: 151.2195},
                zoom: 13
            });

            var request = {
                location: map.getCenter(),
                radius: '500',
                query: 'sauna'
            };

            var service = new google.maps.places.PlacesService(map);
            service.textSearch(request, function(results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    for (var i = 0; i < results.length; i++) {
                        var place = results[i];
                        new google.maps.Marker({
                            map: map,
                            position: place.geometry.location,
                            title: place.name
                        });
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div id="map" style="height: 400px; width: 100%;"></div>
</body>
</html>
