<div id="map" style="height: 600px;"></div>

<script>
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');

    const mapOptions = {
      center: { lat: 35.6803997, lng: 139.7690174 },
      zoom: 10
    };

    const map = new google.maps.Map(mapElement, mapOptions);

    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
      new google.maps.Marker({
        position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>}, 
        map: map,
        title: '<%= j post.title %>'
      });
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>
