<% content_for(:title, @sauna.name) %>
<div class="w-5/6 mx-auto my-20 max-w-screen-xl">
  <div class="">
    <h1 class="font-bold text-3xl"><%= @sauna.name %></h1>
    <div>
    <% if @sauna.posts.present? %>
      <%= render @sauna.posts %>
    <% else %>
      <div>
        <p>まだサ飯の投稿がないよ！</p>
      </div>
    <% end %>
    </div>
  </div>
</div>